@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: justify;

}
body{
  background-color: #e3cdba;
  
}
h1{
  /* font-family: 'Alice', sans-serif; */
  /* color: #5C4033; */
  color: #EB4D1A;

}
nav :hover{
  color: #5C4033;
}
